@{
    ViewData["Title"] = "Privacy";
    ViewData["Message"] = "";
}

<div class="jumbotron bg-transparent">
    <h1 style="text-align: center; color: white;">@ViewData["Title"]</h1>
    <h4 style="text-align: center; color: white;">@ViewData["Message"]</h4>
</div>

